[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/meghna-hugo"]
	path = themes/meghna-hugo
	url = https://github.com/loriab/meghna-hugo.git
