[submodule "quickstart/themes/ananke"]
	path = quickstart/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "quickstart/themes/meghna-hugo"]
	path = quickstart/themes/meghna-hugo
	url = https://github.com/themefisher/meghna-hugo
