/*@import url(fontawesome-all.css);

@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans:200,500,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,700');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:200,400,700');
@import url('https://fonts.googleapis.com/css?family=Cuprum:200,400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:200,400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,500,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,700');
@import url('https://fonts.googleapis.com/css?family=Rubik:200,400,700');
@import url('https://fonts.googleapis.com/css?family=Proza+Libre:200,400,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:200,400,700');
*/

@import url('https://fonts.googleapis.com/css?family=Dosis:200,500,700');
@import 'https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/css/rawline.css';


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-family: "Dosis", sans-serif;
  color: #afbac4;
}


html {
  color: #8f98a1;
}

p,
body {
  font-family: "Raleway", sans-serif;
  color: #8f98a1;
}


.navbar-brand>img {
    height: 60px;
    horizontal-align: left;
}


.hero-area {
  background: linear-gradient(rgba(30, 50, 150, 0.4),rgba(30, 50, 150, 0.4)), url(https://upload.wikimedia.org/wikipedia/commons/e/e8/Buckycatcher_JACS_2007_V129_p3843.jpg) center/cover;
}


.navigation .navigation-menu li a {
    font-size: 1.5rem;
    font-family: "Dosis", sans-serif;
    font-weight: 500;
}


li {
    font-size: 1.5rem;
}


p {
    font-size: 1.2rem;
}


.member-photo .mask {
  background-color: rgba(68, 104, 157, 0.7);
}


.portfolio-filter button {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Dosis", sans-serif;
}

.copyright img {
    width: 350px;
}
