{{ define "main" }}

{{ partial "navigation.html" . }}

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <h1>{{ .Title }}</h1>
                <ul class="list-inline mb-50">
                    <li class="list-inline-item">{{ .Params.author }}</li>
                    <li class="list-inline-item">{{ dateFormat "Monday, 2 Jan 2006" .Date }}</li>
                    <li class="list-inline-item"><a href="{{ $.Site.BaseURL }}/categories/releases">Past Releases</a></li>
                    <li class="list-item">{{ .Params.edition }} Edition</li>
                </ul>
                <!--<img class="img-fluid mb-50" src="{{ .Params.image | absURL }}" alt="blog-image">-->
            </div>
            {{ partial "installs-menu.html" . }}
        </div>
    </div>
</section>

{{ end }}
