{{ if .Site.Params.announce.enable}}
{{"<!-- Start Call To Action -->" | safeHTML}}
<section class="call-to-action section-sm bg-1 overly" style='background: linear-gradient(rgba({{ .Site.Params.announce.bgTint }}), rgba({{ .Site.Params.announce.bgTint }})), url("{{ .Site.Params.announce.bgImage | absURL }}") center/cover;'>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
               {{ with .Site.Params.announce.title}} <h2>{{ . }}</h2> {{ end }}
               <div class="announce-text">
                  <h5>{{ .Site.Params.announce.titleLText }} {{ partial "htmlpsi4.html" . }} {{ .Site.Params.announce.titleRText }}</h5>
                </div>
                <a href="{{ .Site.Params.announce.btnLURL }}" class="btn btn-main">{{ with .Site.Params.announce.btnLText }} {{ . }} {{end}}</a>
                <a href="{{ .Site.Params.announce.btnURL }}" class="btn btn-main disabled">{{ with .Site.Params.announce.btnText }} {{ . }} {{end}}</a>
                <a href="{{ .Site.Params.announce.btnRURL }}" class="btn btn-main disabled">{{ with .Site.Params.announce.btnRText }} {{ . }} {{end}}</a>
            </div>
        </div>
    </div>
</section>
{{"<!-- Start Services Section -->" | safeHTML}}
{{ end }}
