{{ if .Site.Params.counter.enable }}
{{"<!-- Start Counter Section -->" | safeHTML}}
<section id="counter" class="parallax-section bg-1 section overly" style='background: linear-gradient(rgba({{ .Site.Params.counter.bgTint }}), rgba({{ .Site.Params.counter.bgTint }})), url("{{ .Site.Params.counter.bgImage | absURL }}") center/cover;'>
    <div class="container">
        <div class="row">
            {{ range .Site.Params.counter.counterItem }}
            <div class="col-lg-3 col-md-6 col-12 text-center wow fadeInDown" data-wow-duration="500ms">
                <div class="counters-item">
                    <i class="{{ .icon }}"></i>
                    {{ $title := .title }}
                    {{ $count := .count }}
                    {{ if eq .title "Positive Feedback" }}
                        {{ $ghapi := getJSON "https://api.github.com/repos/psi4/psi4" }}
                        {{ $count = $ghapi.stargazers_count }}
                    {{ else if eq .title "Cups of Coffee" }}
                        {{ $ghhead := getJSON "https://api.github.com/repos/psi4/psi4/git/refs/heads/master" }}
                        {{ $ghdiffstr := printf "%s...%s" "ef18f85a4218cc559631c444c518ca4845ed48cc" $ghhead.object.sha }}
                        {{ $ghdiffjson := getJSON (printf "https://api.github.com/repos/psi4/psi4/compare/%s" $ghdiffstr) }}
                        {{ $count = add 1 $ghdiffjson.ahead_by }}
                    {{ else if eq .title "Days Since Last Release" }}
                        {{ $ghrel := getJSON "https://api.github.com/repos/psi4/psi4/releases/latest" }}
                        {{ $title = printf "Days Since %s" $ghrel.tag_name }}
                        {{ $ghcreated := $ghrel.created_at | time }}
                        {{ $count = div (sub now.Unix $ghcreated.Unix) 86400 }}
                    {{ else if eq .title "Contributors" }}
                        <!-- max per_page is 100 and we're at 91. so coordinate page number and addend -->
                        {{ $ghapi := getJSON "https://api.github.com/repos/psi4/psi4/contributors?per_page=100&page=1" }}
                        {{ $count = add (len $ghapi) 0 }}
                        {{/* {{ range $ghapi }} {{ .login }} {{ end }} */}}
                    {{ else if eq .title "Citing Papers" }}
                        {{ $count1 := $.Site.Data.pubs.google_scholar_citations.psi41p1.citation_count }}
                        {{ $count2 := $.Site.Data.pubs.google_scholar_citations.psi4.citation_count }}
                        {{ $count = add $count1 $count2 }}
                    {{ end }}
                    <span data-speed="3000" data-to="{{ $count }}">{{ $count }}</span>
                    <h3><a href={{ .URL }}>{{ $title }}</a></h3>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{"<!-- /Counter Section -->" | safeHTML}}
{{ end }}
