
.navbar-brand>img
{
    height: 60px;
    horizontal-align: left;
}

.hero-area
{
  background: linear-gradient(rgba(30, 50, 150, 0.4),rgba(30, 50, 150, 0.4)), url(https://upload.wikimedia.org/wikipedia/commons/e/e8/Buckycatcher_JACS_2007_V129_p3843.jpg) center/cover;
}

